<div class="header">
  <span style="color:#ffffff"> ABOUT </span>
</div>
<!--div class="container row">
  <h1>About</h1>
</div-->
<hr>
<div class="about-container row container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>About Us</h3>
    <ul>
        <li>
          <h4>Pawan Parihar</h4>
        </li>
        <li>
          <h4>Himanshu Sagar</h4>
        </li>
        <li>
          <h4>Mayank Raj</h4>
        </li>
        <li>
          <h4>Richa Madhupriya</h4>
        </li>
        <li>
          <h4>Shrishti</h4>
        </li>
        <li>
          <h4>Himani Jain</h4>
        </li>
        <li>
          <h4>Saiphaniteja Nallan</h4>
        </li>
        <li>
          <h4>Dipmalya Sen</h4>
        </li>
    </ul>
  </div>
  <div class="col-md-1"></div>
</div>
