<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Invoice</div>
    <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              
              <td>S.No</td>
              <td>Product Name</td>
              <td>Quantity</td>
              <td>Price</td>
            </thead>

            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          </div>

    </div>
  </div>
</div>
